@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Fira+Sans:wght@600&display=swap");
:root {
  --font-primary: "Cormorant Garamond", serif;
  --font-secondary: "Fira Sans", sans-serif;
  --font-tertiary: "ABeeZee", sans-serif;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.308);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(238, 255, 255);
}

.heading {
  text-align: center;
  margin: 2rem;
  font-family: var(--font-primary);
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

/* FORM */
.form-container {
  border-radius: 10px;
  background-color: rgb(245, 240, 240);
  box-shadow: var(--shadow);
  max-width: 450px;
  max-height: 220px;
  padding: 1.5rem;
  flex-grow: 1;
  margin-right: 10px;
}
.form-input-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
}
.form-label {
  font-family: var(--font-secondary);
  margin-right: 1.2rem;
}
.form-input {
  padding: 2px;
}
.form-checklist {
  margin-right: auto;
}
.form-submit {
  margin: 0 auto;
  padding: 3px;
  cursor: pointer;
}

/* LIST */
.list-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.finished-list-container,
.unfinished-list-container {
  margin-bottom: 5px;
  background-color: rgb(129, 129, 238);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.308);

  padding: 0.5rem;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: auto;
}
.list-title {
  font-family: var(--font-primary);
  margin: 0.8rem 0;
}
.single-book {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin-bottom: 5px;
  background-color: white;
}
.single-book-title {
  font-family: var(--font-secondary);
  font-size: 20px;
  margin-bottom: 8px;
}
.single-book-author,
.single-book-year {
  font-family: var(--font-tertiary);
  margin-bottom: 4px;
}

.btn {
  margin-right: 0.5rem;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background: rgb(129, 129, 238);
  cursor: pointer;
}
